@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.red {
  background-color: #f70f18;
}

.circle {
  height: 500px;
  width: 500px;
  display: inline-block;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border-radius: 250px;
}

.app-body {
  min-height: 500px;
}

.large-text {
  font-size: 42pt;
}

.super-large-text {
  font-size: 72pt;
}

.title-text {
  color: #ffdb00;
  -webkit-text-stroke: 5px #0052a0;
  /* font-weight: 800; */
  margin-top: -60px;
  font-size: 56pt;
  line-height: 56pt;
  text-transform: uppercase;
  font-weight: 400;
}

.label-text {
  color: #4bcaf9;
  position: absolute;
  font-size: 24pt;
}

.body-text {
  color: #ffdb01;
  font-size: 300pt;
}

.body-highlight {
  color: #4bcaf9;
}
